[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Action Tracker
[access "refs/*"]
	owner = group user/Luiz (junqueira)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Luiz (junqueira)
	label-Verified = -1..+1 group user/Luiz (junqueira)
	push = group user/Luiz (junqueira)
	read = group user/Luiz (junqueira)
	rebase = group user/Luiz (junqueira)
	removeReviewer = group user/Luiz (junqueira)
	submit = group user/Luiz (junqueira)
[access "refs/heads/*"]
	create = group user/Luiz (junqueira)
	push = +force group user/Luiz (junqueira)
	pushMerge = group user/Luiz (junqueira)
	read = group user/Luiz (junqueira)
[access "refs/tags/*"]
	push = group user/Luiz (junqueira)
	push = +force group user/Luiz (junqueira)
