{% extends "base.html" %}

{%block BODY %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Dashboard</h1>
        </div>
    </div>
<! --
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Centres</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'centre:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Employees</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'employee:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Shifts</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'shift:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Breaks</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'break:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Requests</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'request:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">PDF Resources</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'pdfresource:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Image resources</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'imageresource:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Checklist resources</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'checklistresource:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Reports</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'report:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Users</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'users:home' %}">List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}
